*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../img/116482888-modern-green-office-interior-with-workplace-3d-rendering.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.nav{
    overflow: hidden;
    background-color: rgba(41, 27, 9, 0.7);
    position:fixed;
    left: 0;
    width: 100%;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content:end;
    padding: 10px;
    background-color:rgba(114, 87, 65, 0.7);
}
.nav ul li a{
    padding: 30px;
    text-decoration: none;
    color: rgba(12, 12, 12, 0.7);
    font-weight: bold;
    font-size: larger;
}
.nav ul li a:hover{
    border-bottom: 10px solid brown;
}
.Hello{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.808);
    font-family: monospace;
}
h3{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
}
hr{
    width: 20%;
    margin: auto;
    color: rgba(1, 24, 0, 0.986);
}
.container-itemes{
    display: flex;
    flex-direction: row;
}
.items{
    width: 25%;
    margin: auto;
    padding: 20px;
}
.items p {
    width: 40px;
    margin: auto;
    height: 40px;
    background-color: rgb(129, 160, 43);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items p , .items h4 ,.items div{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.fixed-img{
    padding: 30px;
    background-image: url(../img/4651dc039b81d259b1edb3bd8cf26a8a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
}
.desc{
    width: 60%;
    margin: auto;
}
.About-content{
    width: 40vw;
    margin: auto;
}
img{
    width: 400px;
}